@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins";
  background-color: #7d2ae8;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container{
    max-width: 800px;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    border: 7px solid #fff;
    overflow: hidden;
}
.box{
    display: flex;
    width: 400%;
    height: 100%;
    animation: animation 10s linear infinite;
    cursor: pointer;
}
.box:hover{
    animation-play-state: paused;
}
.slid{
    width: 100%;
    height: 100%;
    position: relative;
}
.slid:hover .slid_content{
    opacity: 1;
    visibility: visible;
}
.img_slid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slid_content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.title_content{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.text_content{}
@keyframes animation {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -300%;
    }
}
