@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins";
  background-color: #7d2ae8;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container{
    max-width: 800px;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    border: 7px solid #fff;
    overflow: hidden;
}
.box{
    display: flex;
    width: 400%;
    height: 100%;
}
.slid{
    width: 100%;
    height: 100%;
}
.img_slid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
